{% extends "registration/registration_base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% bootstrap_messages %}

{% block extrastyle %}
<style>
#formularz{
    width: 25%;
    margin: 0 auto;}
</style>
{% endblock %}

{% block content %}
    <form role="form" method="post" id="formularz">
    <p>Wpisz Twój email poniżej. Niezbędne informacje otrzymasz pocztą</p>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='Resetuj hasło' value="Reset password" %}{% endbuttons %}
    </form>

{% endblock %}







{% comment %}
{% block content %}
<p>{% trans "Enter your e-mail address below, and we will send instructions for setting a new one." %}</p>
<form action="." method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="{% trans "Reset password" %}" />
</form>
{% endblock %}

{% endcomment %}




