{% extends "registration/registration_base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}Logowanie{% endblock %}
{% load bootstrap3 %}

{% bootstrap_messages %}

{% block extrastyle %}

<style>
#formularz{
    width: 25%;
    margin: 0 auto;
}
</style>
{% endblock %}

{% block content %}

    <form role="form" method="post" id="formularz">
    <p>Wpisz poniżej swój adres email na który wyślemy info o dalszych czynnościach</p>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='Zmień hasło' value="Save" %}{% endbuttons %}
        <div><a href="{% url "auth_password_reset" %}">{% trans "Reset password" %}</a></div
    </form>

{% endblock %}

{% comment %}

<p>Wpisz poniżej swój adres email na który wyślemy info o dalszych czynnościach</p>
<form method="post" action=".">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="{% trans "Save" %}">
    <div><a href="{% url "auth_password_reset" %}">{% trans "Reset password" %}</a></div>
</form>


{% endcomment %}
