{% extends "registration/registration_base.html" %}
{% load url from future %}
{% load i18n %}

{% block masthead %}
{% if validlink %}
    <h2>{% trans "Enter new password" %}</h2>
{% else %}
    <h2>{% trans "Error resetting password" %}</h2>
{% endif %}
{% endblock %}

{% load bootstrap3 %}

{% bootstrap_messages %}

{% block extrastyle %}
<style>
#formularz{
    width: 25%;
    margin: 0 auto;
}
</style>
{% endblock %}

{% block content %}

{% if validlink %}

    <form role="form" method="post" id="formularz">
        <p class="text-info">Wpisz nowe hasło podwójnie</p>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='Zmień hasło' value='Change my password' %}{% endbuttons %}
    </form>

{% else %}
    <p>"Link resetujący jest niepoprawny. Prawdopodobnie został już wykorzystany. Zresetuj hasło ponownie."</p>
{% endif %}
{% endblock %}

{%  comment %}
<form method="post" action=".">

        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="{% trans 'Change my password' %}">
    </form>
{%  endcomment %}